# Xcode

## OS X
.DS_Store

## ScoutTools
ScoutTools/bin
ScoutTools/shared/ScoutTools

## Build generated
build/
DerivedData
Carthage/
CarthageAlt/
Scout/Assets.xcassets/AppIcon.appiconset/backup_*

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

## IntelliJ
.idea/
